/*
 * Looking for a volunteer to clean up the CSS mess
 * in this project!!
 */

body { 
  width: 960px; 
  margin: 10px auto; 
  font-family: sans-serif; 
}

.main {
  width: 500px;
  height: 35px;
  margin: 50px auto;
}

.main > input {
  float:right; 
  padding: 0px 10px;
  width: 242px;
  height: 40px;
  font-size: 20px;
  color: #888;
  border: solid 2px #ff6000;
  margin-right: 5px;
  margin-bottom: 5px;
}
   
thead td {
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
}

table {
  width: 700px;
  margin: 0px auto;
  border-collapse: collapse;
}

td {
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  vertical-align: top;
}

.location {
  width: 150px;
  font-size: 11px;
  color: #888;
}

.relic {
  font-size: 16px;
  color: #5b5b5b;
}

.big {
  font-size: 16px;
  font-weight: bold;
}

.medium {
  font-size: 13px;
}

.small {
  font-size: 10px;
  margin-top: 5px;
}

input {
  border-radius: 5px;
  border: solid 1px #ff6000;
}


.highlight {
  background-color: #ddd;
}

a, a:visited {
  text-decoration: none;
  color: #8b8b8b;
}

a:hover {
  text-decoration: underline;
  color: #ccc;
}
